<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>

<h1>Енот Батон</h1>
<img src="https://supersnimki.ru/images/pub/2020/02/26/6c1d3708-587c-11ea-89dc-c8dda7cce91e_original.jpg?603314" width="300" height="200" />
<p>
<strong>Привет, я <a href="https://faunistics.com/enoty/?ysclid=l10frc9api">Енот,</a>
а это моя страничка!</strong>
</p>
<br/>
<p>
   В России <del>енота</del> <ins>Енота Батона</ins> изначально знали по шкуркам,<br>
   которые назывались <em>«генеттовыми мехами»</em>, потому что зверек с полосатым хвостом напоминает генету.<br>
</p>
<div>
   Позднее это название превратилось в «генот» или енот.
</div>
<p>
   Английское название raccoon, заимствованное и в некоторые другие языки,
   происходит из поухатана — одного из языков американских индейцев,<br>
   где енота называли ärähkun, от ärähkuněm, что означает «скребёт руками»;<br>
   во многих европейских и азиатских языках енота буквально называют <mark>«медведь-полоскун»,<br>
   «моющий медведь»</mark>. Латинское (греческого происхождения) название Procyon значит «пред-собака»,<br>
   «перед собакой»; так же называется звезда Процион в созвездии Малого Пса.
</p>

</body>
</html>